/* Responsive adjustments for screens larger than 1200px */
/* Large screens (min-width: 1201px) */
@media (min-width: 1201px) {
    section {
        margin: 80px 110px;
    }
    .commonTitle {
        font-size: 70px;
    }
    .commonSupTitle {
        font-size: 27px;
    }
    .WhyUsCard {
        padding: 20px 132px; 
    }
    .number {
        font-size: 350px;
        margin-right: 186px;
    }
    .CardHeader {
        font-size: 40px;
    }
    .text {
        font-size: 15px;
    }
    .FirstGrid {
        padding: 23px 0 0 20px;
    }
    .SecondGrid {
        padding: 23px 0 0 20px;
    }
    .GridTitle  {
        font-size: 30px;
    }
    .GridP {
        font-size: 20px;
    }
    footer h2 {
        font-size: 70px;
    }
    .faq-title {
        font-size: 60px; /* Larger font size for very large screens */
    }
    .faqP {
        font-size: 24px; /* Slightly larger font size for very large screens */
        padding-bottom: 40px; /* Increase padding for a larger layout */
    }
    .accordion-body {
        font-size: 24px; /* Slightly larger font size for very large screens */
    }

}

/* Screens between 993px and 1200px */
@media (max-width: 1200px) and (min-width: 993px) {
    .fixImage{
        width: 100%;
    }
    
    section {
        margin: 80px 80px;
    }
    .commonTitle {
        font-size: 60px;
    }
    .commonSupTitle {
        font-size: 24px;
    }
    .WhyUsCard {
        padding: 20px 100px;
    }
    .number {
        font-size: 250px;
        margin-right: 150px;
    }
    .CardHeader {
        font-size: 40px;
    }
    .text {
        font-size: 20px;
    }
    .FirstGrid {
        padding: 60px 0 0 50px;
    }
    .SecondGrid {
        padding: 60px 0 0 50px;
    }
    .GridTitle  {
        font-size: 40px;
    }
    .GridP {
        font-size: 20px;
    }
    footer h2 {
        font-size: 60px;
    }
    .faq-title {
        font-size: 55px; /* Adjust font size for medium to large screens */
    }
    .faqP {
        font-size: 23px; /* Adjust font size for medium to large screens */
        padding-bottom: 38px; /* Adjust padding for a more balanced look */
    }
    .accordion-body {
        font-size: 22px; /* Adjust font size for medium to large screens */
    }


}

/* Screens between 769px and 992px */
@media (max-width: 992px) and (min-width: 769px) {
    .fixImage{
        width: 100% !important;
    }
    section {
        margin: 60px 60px;
    }
    .commonTitle {
        font-size: 50px;
    }
    .commonSupTitle {
        font-size: 21px;
    }
    .WhyUsCard {
        padding: 20px 80px;
    }
    .number {
        font-size: 200px;
        margin-right: 120px;
    }
    .CardHeader {
        font-size: 36px;
    }
    .text {
        font-size: 18px;
    }
    .FirstGrid {
        padding: 50px 0 0 40px;
    }
    .SecondGrid {
        padding: 50px 0 0 40px;
    }
    .GridTitle {
        font-size: 35px;
    }
    .GridP {
        font-size: 18px;
    }
    .SliderTtile {
        font-size: 33px !important;
    }
    footer h2 {
        font-size: 50px;
    }
    .faq-title {
        font-size: 50px; /* Adjust font size for tablets and smaller screens */
    }
    .faqP {
        font-size: 20px; /* Adjust font size for tablets and smaller screens */
        padding-bottom: 30px; /* Reduce padding for a more compact layout */
    }
    .accordion-body {
        font-size: 20px; /* Adjust font size for tablets and smaller screens */
    }
}

/* Screens between 577px and 768px */
@media (max-width: 768px) and (min-width: 577px) {
    .fixImage{
        width: 100% !important;
    }
    section {
        margin: 40px 40px;
    }
    .commonTitle {
        font-size: 40px;
    }
    .commonSupTitle {
        font-size: 17px;
    }
    .WhyUsCard {
        padding: 20px 60px;
    }
    .number {
        font-size: 150px;
        margin-right: 80px;
    }
    .CardHeader {
        font-size: 32px;
    }
    .text {
        font-size: 16px;
    }
    .FirstGrid {
        padding: 40px 0 0 30px;
    }
    .SecondGrid {
        padding: 40px 0 0 30px;
    }
    .GridTitle {
        font-size: 30px;
    }
    .GridP {
        font-size: 16px;
    }
    .SliderTtile{
        font-size: 26px !important;
    }
    footer h2 {
        font-size: 40px;
    }
    .faq-title {
        font-size: 45px; /* Adjust font size for smaller tablets and larger phones */
    }
    .faqP {
        font-size: 18px; /* Adjust font size for smaller tablets and larger phones */
        padding-bottom: 25px; /* Reduce padding for smaller screens */
    }
    .accordion-body {
        font-size: 18px; /* Adjust font size for smaller tablets and larger phones */
    }
    .card {
        width: 100%; /* Make sure it takes full width on smaller screens */
    }

}

/* Screens 576px and below */
@media (max-width: 576px) {
    .fixImage{
        width: 100% !important;
    }
    .number::before {
      
        bottom: 20px;
       
    }
    .SecondCard .number::before {
      
        bottom: 20px;
      
    }
    section {
        margin: 20px;
    }
    .commonTitle {
        font-size: 30px;
    }
    .commonSupTitle {
        font-size: 16px;
    }
    .WhyUsCard {
        padding: 20px;
        flex-direction: column; /* Stack number and text vertically on very small screens */
        text-align: center;
    }
    .number {
        font-size: 100px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .CardTexts {
        align-items: center;
    }
    .CardHeader {
        font-size: 28px;
    }
    .text {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .FirstGrid {
        padding: 20px;
    }
    .SecondGrid {
        padding: 20px;
    }
    .GridTitle {
        font-size: 25px;
    }
    .GridP {
        font-size: 14px;
    }
    .SliderTtile{
        font-size: 20px !important;
    }
    footer h2 {
        font-size: 30px;
    }
    .faq-title {
        font-size: 35px; /* Adjust font size for mobile screens */
    }
    .faqP {
        font-size: 16px; /* Adjust font size for mobile screens */
        padding-bottom: 20px; /* Further reduce padding for mobile screens */
    }
    .accordion-body {
        font-size: 16px; /* Adjust font size for mobile screens */
    }
}

@media (max-width: 1200px) {
    .custom-col-1,
    .custom-col-3,
    .custom-col-4 {
        padding: 50px 0 0 50px;
    }
}

@media (max-width: 992px) {
    .custom-col-1,
    .custom-col-3,
    .custom-col-4 {
        padding: 30px 0 0 30px;
    }
}

@media (max-width: 768px) {
    .custom-col-1,
    .custom-col-3,
    .custom-col-4 {
        padding: 20px 0 0 20px;
    }
  
}

@media (max-width: 576px) {
  
    .custom-col-1,
    .custom-col-3,
    .custom-col-4 {
        padding: 15px 0 0 15px;
        margin-bottom: 10px;
    }

}






@media (max-width: 1200px) {
    .card {
        height: 450px; /* Reduce height on smaller screens */
    }

    .card-title {
        font-size: 40px;
        left: 50px;
        right: 50px;
        bottom: 100px;
    }

    .card-text {
        font-size: 20px;
        left: 50px;
        right: 50px;
        bottom: 80px;
    }

    .card-btn-wrapper {
        bottom: 20px;
    }
}

@media (max-width: 992px) {
    .card {
        height: 400px;
    }

    .card-title {
        font-size: 35px;
        left: 40px;
        right: 40px;
        bottom: 80px;
    }

    .card-text {
        font-size: 18px;
        left: 40px;
        right: 40px;
        bottom: 60px;
    }

    .card-btn-wrapper {
        bottom: 15px;
    }
}

@media (max-width: 768px) {
    #mySVG{
        width: 100%;
        height: 100%;
    }
    .card {
        height: 350px;
    }

    .card-title {
        font-size: 30px;
        left: 30px;
        right: 30px;
        bottom: 60px;
    }

    .card-text {
        font-size: 16px;
        left: 30px;
        right: 30px;
        bottom: 40px;
    }

    .card-btn-wrapper {
        bottom: 10px;
    }
}

@media (max-width: 576px) {
    .card {
        height: 320px;
    }

    .card-title {
        font-size: 24px;
        left: 20px;
        right: 20px;
        bottom: 40px;
    }

    .card-text {
        font-size: 14px;
        left: 20px;
        right: 20px;
        bottom: 30%;
    }

    .card-btn-wrapper {
        bottom: 5px;
    }
}

/* Large screens (min-width: 1201px) */
@media (min-width: 1201px) {
    .headerr {
        font-size: 81px;
    }
    .supheader {
        font-size: 27px;
    }
}

/* Screens between 993px and 1200px */
@media (max-width: 1200px) and (min-width: 993px) {
    .headerr {
        font-size: 70px;
    }
    .supheader {
        font-size: 24px;
    }
}

/* Screens between 769px and 992px */
@media (max-width: 992px) and (min-width: 769px) {
    .headerr {
        font-size: 60px;
    }
    .supheader {
        font-size: 21px;
    }
}

/* Screens between 577px and 768px */
@media (max-width: 768px) and (min-width: 577px) {
    .headerr {
        font-size: 50px;
    }
    .supheader {
        font-size: 18px;
    }
}

/* Screens 576px and below */
@media (max-width: 576px) {
    .headerr {
        font-size: 23px;
    }
    .supheader {
        font-size: 16px;
    }
}

/* Large screens (min-width: 1201px) */
@media (min-width: 1201px) {
    .navbar {
        padding: 31px 110px 0 110px;
    }
}

/* Screens between 993px and 1200px */
@media (max-width: 1200px) and (min-width: 993px) {
    .navbar {
        padding: 31px 90px 0 90px;
    }
}

/* Screens between 769px and 992px */
@media (max-width: 992px) and (min-width: 769px) {
    .navbar {
        padding: 31px 70px 0 70px;
    }
}

/* Screens between 577px and 768px */
@media (max-width: 768px) and (min-width: 577px) {
    .navbar {
        padding: 31px 50px 0 50px;
    }
    .navbar-brand h1 {
        font-size: 23.53px;
  
    }
}

/* Screens 576px and below */
@media (max-width: 576px) {
    .navbar {
        padding: 31px 30px 0 30px;
    }
    .navbar-brand h1 {
        font-size: 23.53px;
  
    }
}
@media (max-width: 768px) {
    .accordion {
        width: 95%; /* Adjust the width for tablets */
    }
}

@media (max-width: 480px) {
    .accordion {
        width: 100%; /* Make it full width on smaller screens */
    }
}
