/* Responsive adjustments for screens larger than 1200px */
/* Large screens (min-width: 1201px) */
@media (min-width: 1201px) {
    section {
        margin: 80px 110px;
    }
    .commonTitle {
        font-size: 70px;
    }
    .commonSupTitle {
        font-size: 27px;
    }
    .WhyUsCard {
        padding: 20px 132px; 
    }
    .number {
        font-size: 350px;
        margin-right: 186px;
    }
    .CardHeader {
        font-size: 40px;
    }
    .text {
        font-size: 18px;
    }
    .FirstGrid {
        padding: 73px 0 0 67px;
    }
    .GridTitle  {
        font-size: 47px;
    }
    .GridP {
        font-size: 23px;
    }
}

/* Screens between 993px and 1200px */
@media (max-width: 1200px) and (min-width: 993px) {
    section {
        margin: 80px 80px;
    }
    .commonTitle {
        font-size: 60px;
    }
    .commonSupTitle {
        font-size: 24px;
    }
    .WhyUsCard {
        padding: 20px 100px;
    }
    .number {
        font-size: 250px;
        margin-right: 150px;
    }
    .CardHeader {
        font-size: 40px;
    }
    .text {
        font-size: 20px;
    }
    .FirstGrid {
        padding: 60px 0 0 50px;
    }
    .GridTitle  {
        font-size: 40px;
    }
    .GridP {
        font-size: 20px;
    }
}

/* Screens between 769px and 992px */
@media (max-width: 992px) and (min-width: 769px) {
    section {
        margin: 60px 60px;
    }
    .commonTitle {
        font-size: 50px;
    }
    .commonSupTitle {
        font-size: 21px;
    }
    .WhyUsCard {
        padding: 20px 80px;
    }
    .number {
        font-size: 200px;
        margin-right: 120px;
    }
    .CardHeader {
        font-size: 36px;
    }
    .text {
        font-size: 18px;
    }
    .FirstGrid {
        padding: 50px 0 0 40px;
    }
    .GridTitle {
        font-size: 35px;
    }
    .GridP {
        font-size: 18px;
    }
    .SliderTtile {
        font-size: 33px !important;
    }
}

/* Screens between 577px and 768px */
@media (max-width: 768px) and (min-width: 577px) {
    section {
        margin: 40px 40px;
    }
    .commonTitle {
        font-size: 40px;
    }
    .commonSupTitle {
        font-size: 17px;
    }
    .WhyUsCard {
        padding: 20px 60px;
    }
    .number {
        font-size: 150px;
        margin-right: 80px;
    }
    .CardHeader {
        font-size: 32px;
    }
    .text {
        font-size: 16px;
    }
    .FirstGrid {
        padding: 40px 0 0 30px;
    }
    .GridTitle {
        font-size: 30px;
    }
    .GridP {
        font-size: 16px;
    }
    .SliderTtile{
        font-size: 26px !important;
    }
}

/* Screens 576px and below */
@media (max-width: 576px) {
    section {
        margin: 20px;
    }
    .commonTitle {
        font-size: 30px;
    }
    .commonSupTitle {
        font-size: 16px;
    }
    .WhyUsCard {
        padding: 20px;
        flex-direction: column; /* Stack number and text vertically on very small screens */
        text-align: center;
    }
    .number {
        font-size: 100px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .CardTexts {
        align-items: center;
    }
    .CardHeader {
        font-size: 28px;
    }
    .text {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .FirstGrid {
        padding: 20px;
    }
    .GridTitle {
        font-size: 25px;
    }
    .GridP {
        font-size: 14px;
    }
    .SliderTtile{
        font-size: 20px !important;
    }
}

@media (max-width: 1200px) {
    .custom-col-1,
    .custom-col-3,
    .custom-col-4 {
        padding: 50px 0 0 50px;
    }
}

@media (max-width: 992px) {
    .custom-col-1,
    .custom-col-3,
    .custom-col-4 {
        padding: 30px 0 0 30px;
    }
}

@media (max-width: 768px) {
    .custom-col-1,
    .custom-col-3,
    .custom-col-4 {
        padding: 20px 0 0 20px;
    }
}

@media (max-width: 576px) {
    .custom-col-1,
    .custom-col-3,
    .custom-col-4 {
        padding: 15px 0 0 15px;
    }
}